h1
	{
		color: #0099ff;
		margin-left: 33%;
		margin-bottom: 100px;
	}

table
	{
		margin-left: 30%;
		width: 80%;
		
	}

td
	{
		width: 75px;
		height: 50px;
	}


.colonne1
	{
		color: #0099ff;
	}

.input
	{
		border: solid #0099ff 1px;
		border-radius: 5px;
	}

.select
	{
		background-color: white;
		border: solid #0099ff 1px;
		border-radius: 5px;
	}

.€
	{
		text-align: left;
	}

.button
	{
		background-color: #0099ff; 
		color: white;
		margin-left: 45%;
		margin-top: 20px;
	}

